<div class="forms">

  <form [formGroup]="form">
    <img class="profile-img-card" src="../../../assets/images/avatar.png"/>
    <div class="invalid-login" *ngIf="invalidLogin">
      Nie udało się zarejestrować użytkownika.
    </div>
    <div class="valid-login" *ngIf="validLogin">
      Rejestracja pomyślna
    </div>
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email"
             [errorStateMatcher]="matcher">
      <button mat-button *ngIf="form.controls.email.value" matSuffix mat-icon-button aria-label="Clear"
              (click)="form.controls.email.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-hint>Field is required</mat-hint>
      <mat-error *ngIf="form.controls.email.hasError('required')">
        Login is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="form.controls.email.hasError('email')">
        Email is <strong>invalid</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="!hidePassword">
      <input matInput placeholder="Hasło" formControlName="password"
             [errorStateMatcher]="matcher" type="password">
      <button mat-button *ngIf="form.controls.password.value" matSuffix mat-icon-button aria-label="Clear"
              (click)="form.controls.password.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-hint>Field is required</mat-hint>
      <mat-error *ngIf="form.controls.password.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="form.controls.password.hasError('minLength')">
        Min length of password is <strong>4</strong> chars
      </mat-error>
      <mat-error *ngIf="form.controls.password.hasError('maxLength')">
        Max length of password is <strong>20</strong> chars
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Imie" formControlName="name"
             [errorStateMatcher]="matcher">
      <button mat-button *ngIf="form.controls.name.value" matSuffix mat-icon-button aria-label="Clear" (click)="form.controls.name.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-hint>Pole jest wymagane!</mat-hint>
      <mat-error *ngIf="form.controls.name.hasError('required')">
        Imie jest <strong>wymagane</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Nazwisko" formControlName="surname"
             [errorStateMatcher]="matcher">
      <button mat-button *ngIf="form.controls.surname.value" matSuffix mat-icon-button aria-label="Clear" (click)="form.controls.surname.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-hint>Pole jest wymagane!</mat-hint>
      <mat-error *ngIf="form.controls.surname.hasError('required')">
        Nazwisko jest <strong>wymagane</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Pesel" formControlName="pesel" type="number"
             [errorStateMatcher]="matcher">
      <button mat-button *ngIf="form.controls.pesel.value" matSuffix mat-icon-button aria-label="Clear" (click)="form.controls.pesel.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-hint>Pole jest wymagane!</mat-hint>
      <mat-error *ngIf="form.controls.pesel.hasError('required')">
        Pesel jest <strong>wymagany</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Adres" formControlName="address"
             [errorStateMatcher]="matcher">
      <button mat-button *ngIf="form.controls.address.value" matSuffix mat-icon-button aria-label="Clear" (click)="form.controls.address.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-hint>Pole jest wymagane!</mat-hint>
      <mat-error *ngIf="form.controls.address.hasError('required')">
        Adres jest <strong>wymagany</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Kod pocztowy" formControlName="postalCode"
             [errorStateMatcher]="matcher">
      <button mat-button *ngIf="form.controls.postalCode.value" matSuffix mat-icon-button aria-label="Clear" (click)="form.controls.postalCode.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-hint>Pole jest wymagane!</mat-hint>
      <mat-error *ngIf="form.controls.postalCode.hasError('required')">
        Kod pocztowy jest <strong>wymagany</strong>
      </mat-error>
    </mat-form-field>

    <button [disabled]="!form.valid" mat-raised-button color="primary" type="submit" (click)="register()">Zarejestruj się</button>
  </form>
  <button class="loginBtn loginBtn--google" (click)="registerWithGoogle()">
    Register with Google
  </button>
</div>
