.visits-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  .current-date {
    margin: 10px auto;
    font-size: 20px;
  }
  .add-visit-btn, mat-spinner {
    margin: 10px auto;
    font-size: 12px;
  }

}
.mat-table {
  overflow: auto;
  max-height: 60vh;

  mat-row {
    &:hover {
      cursor: pointer;
    }
  }
}

.mat-column-select {
  overflow: visible;
}

ngx-paypal {
  position: relative;
  top: 5px;
  right: 3px;
}
