<div class="welcome-container">
  <div class="backdrop">
    <h1 class="headline home-header">E-PRZYCHODNIA</h1>
    <p class="subtitle">Zarejestruj Się Twój Lekarz Już na Ciebie Czeka</p>
    <button [routerLink]="['/register']" mat-raised-button color="primary" class="register-btn">Zarejestruj się</button>
    <div class="login-row">
      <button [routerLink]="['/login']" mat-raised-button color="primary" class="login-btn">Zaloguj się</button>
      <span>Jeśli Posiadasz Juz Konto</span>
    </div>
  </div>
</div>


