<div class="visits-container">
  <div class="current-date">{{day | date:short}}</div>
  <button mat-raised-button color="primary" class="add-visit-btn" (click)="openAddVisitDialog()" *ngIf="canAdd()">Dodaj wizyty</button>

  <mat-spinner *ngIf="spinnerVisible"></mat-spinner>

  <div [hidden]="!isTableVisible">

    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="visitTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Godzina wizyty</mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="openDialog(element)">
          {{element.hour || 'brak'}} : {{(element.minutes == 0 ? '00' : (element.minutes < 10 ? '0' + element.minutes : element.minutes)) || 'brak'}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="duration">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Czas trwania</mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="openDialog(element)">
          {{element.duration}} minut
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="cena">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Cena</mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="openDialog(element)">
          {{element.price}} PLN
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Status</mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="openDialog(element)">
          {{element.status}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="remove">
        <mat-header-cell *matHeaderCellDef> Usuń</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button [disabled]="canRemove(element)" mat-raised-button color="primary" class="add-visit-btn" (click)="removeVisit(element)">Usuń</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

    <mat-paginator #paginator
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>

  </div>
</div>

